/* Table */
a.show-filter { width: 21px; height: 22px; background: url(../img/filter.png) no-repeat; float: right; cursor: pointer; margin: 0 15px 0 0; }
table.tablesorter thead tr .tablesorter-header{background-image:url(../img/bg.gif);background-repeat:no-repeat;background-position:center right;cursor:pointer;}
table.tablesorter thead tr .tablesorter-headerAsc{background-image:url(../img/asc.gif);}
table.tablesorter thead tr .tablesorter-headerDesc{background-image:url(../img/desc.gif);}
table.tablesorter thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc{background-color:#f3f3f3;color:#000;}
table.tablesorter input[type=search] { width: 100% !important; min-width: 100% !important; }
table.tablesorter tbody tr.status-2, table.tablesorter tbody tr.status-2 td { background: #F0FBEA; }
table.tablesorter tr.selected td { background: #E1EFFB !important; }

li.filter { top: -10px;}