#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## PyroCMS
#############

# Logs
system/cms/logs/*

# Cache
system/cms/cache/*

# Database config
system/cms/config/database*

# Example module
addons/shared_addons/modules/firesale*